# Created by venv; see https://docs.python.org/3/library/venv.html
# Виртуальное окружение Python
Lib/
Scripts/
Include/
share/
pyvenv.cfg
__pycache__/
*.pyc

# PyInstaller
build/
dist/
*.spec

# Playwright Chromium
browsers/

# Большие файлы
mermaid.min.js

# PDF и временные файлы
*.pdf
